<div class="sub-title">
    <h2>Error</h2>
    <a href="contact.html"><i class="icon-envelope"></i></a>
</div>

<div class="col-md-12 content-page">


    <!-- Blog Post Start -->
    <div class="col-md-12 blog-post">
        <div class="post-title">
            <h3>
                An occured while processing your request. The support
                team is notified and we are working on the fix
            </h3>
            <h5>Please contact us on pragim@pragimtech.com</h5>
        </div>
        <div class="post-info">
            <h3>Exception Details:</h3>
            <div class="alert alert-danger">
                <h5>Exception Path</h5>
                <hr />
                <p>@ViewBag.ExceptionPath</p>
            </div>

            <div class="alert alert-danger">
                <h5>Exception Message</h5>
                <hr />
                <p>@ViewBag.ExceptionMessage</p>
            </div>

            <div class="alert alert-danger">
                <h5>Exception Stack Trace</h5>
                <hr />
                <p>@ViewBag.StackTrace</p>
            </div>
        </div>



    </div>
</div>





