@{
    <div class="sub-title">
        <h2>About Me</h2>
        <a href="contact.html"><i class="icon-envelope"></i></a>
    </div>


    <div class="col-md-12 content-page">
        <div class="col-md-12 blog-post">


            <!-- My Intro Start -->
            <div class="post-title margin-bottom-30">
                <h1>Hi, I am <span class="main-color">Alex Parker</span></h1>

                <ul class="knowledge">
                    <li class="bg-color-1">Web Designer</li>
                    <li class="bg-color-4">Web Developer</li>
                    <li class="bg-color-6">Freelancer</li>
                    <li class="bg-color-5">Consultant</li>
                </ul>

            </div>
            <!-- My Intro End -->


            <p>I am in the website field since 2004 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at quam at orci commodo hendrerit vitae nec eros. Vestibulum neque est, imperdiet nec tortor nec, tempor semper metus. <b>I am a developer</b>, et accumsan nisi. Duis laoreet pretium ultricies. Curabitur rhoncus auctor nunc congue sodales. Sed posuere nisi ipsum, eget dignissim nunc dapibus eget. Aenean elementum sollicitudin sapien ut sapien fermentum aliquet mollis. Curabitur ac quam orci sodales quam ut tempor. suspendisse, gravida in augue in, interdum <b><a href="work.html" data-toggle="tooltip" data-placement="top" title="Check out my work.">Work</a></b> bibendum dui. Suspendisse sit amet justo sit amet diam fringilla commodo. Praesent ac magna at metus malesuada tincidunt non ac arcu. Nunc gravida eu felis vel elementum. Vestibulum sodales quam ut tempor tempor Donec sollicitudin imperdiet nec tortor nec, tempor semper metus..</p>



            <!-- Video Start -->
            <div class="video-box margin-top-40 margin-bottom-80">
                <div class="video-tutorial">
                    <a class="video-popup" href="https://www.youtube.com/watch?v=O2Bsw3lrhvs" title="My Thought">
                        <img src="images/pic/my-pic.png" alt="">
                    </a>
                </div>
                <p>Take a look about my thought on website design.</p>
            </div>
            <!-- Video End -->
            <!-- My Service Start -->
            <div class="post-title">
                <h1>My <span class="main-color">Services</span></h1>
            </div>

            <div class="list list-style-2 margin-top-30">
                <ul>
                    <li>Website Design</li>
                    <li>Website Development</li>
                    <li>Wordpress Theme Development</li>
                    <li>Mobile Apps UI/UX Design</li>
                    <li>Online Software Development</li>
                    <li>E-commerce Development</li>
                    <li>UI/UX Consulting</li>
                </ul>
            </div>
            <!-- My Service End -->

        </div>

        <div class="col-md-12 text-center">
            <a href="contact.html" data-toggle="tooltip" data-placement="top" title="Visit on my contact page for hire me." class="load-more-button">Hire</a>
        </div>

    </div>
}