<div class="container">
    <div class="row">
        <div class="col">
            <h2>Post</h2>
                <h3>@Model.title</h3>
                <img src="~/img/@Model.img" alt="@Model.title" />
                <p>@Model.fullPost</p>
                <p>@Model.author</p>
        </div>
    </div>
</div>


