
@{
    ViewData["Title"] = "Admin";
}

<div class="col-md-12 content-page">
    <div class="col-md-12 blog-post">

        <div class="sub-title">
            <h2>My Admin Panel</h2>
            <a href="contact.html"><i class="icon-envelope"></i></a>
        </div>

        <div class="sub-title">
            <a asp-controller="Admin" asp-action="CreatePost" title="Create Post"><h2>Create Post</h2></a>
        </div>

    </div>
    </div>

