@{
    ViewData["Title"] = "Admin";
}

@inject SignInManager<AppUser> SignInManager

<div class="col-md-12 content-page">
    <div class="col-md-12 blog-post">

        <div class="sub-title">
            <h2>My Admin Panel</h2>
            <a href="contact.html"><i class="icon-envelope"></i></a>
        </div>
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Settings Users
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-controller="Administrator" asp-action="ListRoles" title="Role">Role</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        }
        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Moderator") || SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
        {
            <div class="sub-title">
                <a asp-controller="Admin" asp-action="CreatePost" title="Create Post"><h2>Create Post</h2></a>
            </div>
        }
    </div>
</div>

